<div class="account-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="account-form">
        <app-generic-input formControlName="email" label="Email"></app-generic-input>

        <app-password-input formControlName="password" label="Password"></app-password-input>

        <app-password-input
            formControlName="confirmPassword"
            label="Confirm Password"
        ></app-password-input>

        <ng-container *ngIf="errors">
            <mat-error class="account-error" *ngFor="let error of errors">
                {{ error }}
            </mat-error>
        </ng-container>

        <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">
            Register
        </button>
    </form>
</div>
