<mat-form-field appearance="fill" class="form-field-container">
  <mat-label>{{ label }}</mat-label>
  <input
    [type]="hide ? 'password' : 'text'"
    matInput
    [formControl]="ngControl.control"
    autocomplete="off"
  />
  <button
    type="button"
    mat-icon-button
    matSuffix
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  >
    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </button>

  <mat-error
    *ngIf="ngControl.control.touched && ngControl.control.errors?.required"
  >
    {{ label }} is <strong>required</strong>
  </mat-error>

  <mat-error *ngIf="ngControl.control.errors?.confirmedValidator">
    Password and Confirm Password must be match
  </mat-error>
</mat-form-field>
