.account {
    &-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-form {
        display: flex;
        flex-direction: row;
    }

    &-image {
        background-color: black;
        width: 200px;
    }

    &-content {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        padding: 2rem;
    }
}
